.details__error {
  text-align: center;
  margin-top: 5rem;
}

.detailt__back-link {
  padding: 1rem 2.5rem;
  background: var(--color-red) !important;
  color: var(--color-white) !important;
  border-radius: var(--border-radius-sm) !important;
}