.user__info {
  width: 295px;
  height: 450px;
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius-md);
}

.user__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}