body {
  font-family: "Sk-Modernist", sans-serif;
  background: var(--color-white) !important;
}

.app {
  position: relative;
}

.app__content {
  background: var(--color-bg) !important;
  width: 375px;
  height: 800px;
  border-radius: var(--border-radius-md) !important;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 10%);
  -moz-transform: translate(-50%, 10%);
  -ms-transform: translate(-50%, 10%);
  -o-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%);

  overflow: hidden;

  @media (max-width: 425px) {
    border-radius: 0px !important;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, 0);
  }
}

p {
  color: var(--color-decondary);
}
